<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.borqs.wearable.ml.falldetection"
    android:versionCode="1"
    android:versionName="1.0" >
    <uses-feature android:name="android.hardware.type.watch" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-sdk
        android:minSdkVersion="21"
        android:targetSdkVersion="21" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher_flash_light"
        android:label="@string/app_name"
        android:noHistory="true"
        android:theme="@android:style/Theme.DeviceDefault" >

        <activity android:name="com.borqs.wearable.ml.falldetection.DataCollector" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>
